<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Locker Config</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'css/style.css' %}"
    />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <!-- <script src="{% static 'js/internet.js' %}"></script> -->
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    <div class="content-wrapper">
      {% include 'navbar.html' %}
      <div class="content">
        <div id="alerts">
          {% for message in messages %}
          <div
            class="alert {{ message.tags }} alert-dismissible fade show mb-3"
            role="alert"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true"></span>
            </button>
            {{ message | safe }}
          </div>
          {% endfor %}
        </div>
        {% block content %} {% endblock content %}
      </div>
    </div>

    {% block javascript %} {% endblock javascript %}
  </body>
</html>
