{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="col-lg-8 mx-auto card p-5">
    <div class="row">
      <form id="form" method="post" action="">
        <h3 class="mb-4">Information</h3>
  
        <div class="form-group mb-3">
          <label class="mb-2">Locker ID</label>
          <input
            type="text"
            class="form-control"
            disabled
            value="{{ info.locker_id}}"
          />
        </div>
        <div class="form-group mb-3">
          <label class="mb-2">Locker code</label>
          <input
            type="text"
            class="form-control"
            disabled
            value="{{ info.locker_code}}"
          />
        </div>
        <div class="form-group mb-3">
          <label class="mb-2">Locker name</label>
          <input
            type="text"
            class="form-control"
            disabled
            value="{{ info.locker_name}}"
          />
        </div>
        <div class="form-group mb-3">
          <label class="mb-2">Locker status</label>
          <input
          type="text"
          class="form-control"
          disabled
          value="{{ info.locker_status}}"
        />    
        </div>
        <div class="form-group mb-3">
          <label class="mb-2">API Server</label>
          <input
          type="text"
          class="form-control"
          disabled
          value="{{ info.api_host}}"
        />    
        </div>
        <div class="form-group mb-3">
          <label class="mb-2">API Key</label>
          <input
          data-toggle="password"
          type="password"
          class="form-control"
          disabled
          value="{{ info.api_key }}"
        />    
        </div>
      </form>
    </div>
</div>
  
{% endblock %}
